<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                            http://www.springframework.org/schema/context http://springframework.org./schema/context/spring-context-4.2.xsd">


    <context:component-scan base-package="biz.com" />
    <!--
    <bean id="userService" class="biz.com.user.impl.UserServiceImpl">
        <property name="userDAO" ref="userDAO" />
    </bean>

    <bean id="userDAO" class="biz.com.user.impl.UserDAO"/>
    -->
    <!--
    <context:component-scan base-package="polymorphism"></context:component-scan>
    -->
    <!--
    <bean id="tv" class="polymorphism.SamsungTV" p:speaker-ref="sony" p:price="270">
     [Constructor Injection]
        <constructor-arg ref="apple"></constructor-arg>
        <constructor-arg value="270"></constructor-arg>
     [Setter Injection]
        <property name="speaker" ref="sony"></property>
        <property name="price" value="270"></property>
    </bean>
    <bean id="sony" class="polymorphism.SonySpeaker"/>
    <bean id="apple" class="polymorphism.AppleSpeaker"/>
    -->
</beans>